/* a=0 b=0 c=1 -> specificity = 1 */
nav {
    overflow: hidden;
    background-color: black;
}

/* a=0 b=0 c=2 -> specificity =   2*/
nav a {
    float: left;
    display: block;
    color: white ;
    text-align: center;
    padding: 0.8em 1em;
    text-decoration: none;
}

/* a=0 b=1 c=2 -> specificity =   12*/
nav a:link {
    color: white;
}
/* a=0 b=1 c=2 -> specificity =   12*/
nav a:visited {
    color: white;
}

/* a=0 b=1 c=2 -> specificity =   12*/
/*Change color on mouse over*/
nav a:hover {
    background: white;
    color: black;
}

/* a=0 b=0 c=1 -> specificity =   1 */
body {
    font-family: Verdana, Arial, Tahoma, sans-serif;
    font-size: 1.3em;
    line-height: 1.8em;
    color: black;
    background-color: white;
    text-align: left;
}

/* a=0 b=0 c=1 -> specificity =   1 */
section {
    display: inline-block;
    width: 70%;
    padding: 0.8em;
}

/* a=0 b=0 c=1 -> specificity = 1 */
footer {
    font-size: 0.8em;
    margin-top: 5em;
    padding-top: 0.8em;
    border-top: 0.8em solid black;
    color: black;
}


/* a=0 b=0 c=1 -> specificity =   1 */
h1,h2 {
    text-transform: uppercase;
    text-align:  center;
    font-weight : bold;
}

/* a=0 b=1 c=1 -> specificity =   11*/
a:link {
    color: #392EDC;
    background-color: transparent;
    text-decoration: none;
}

/* a=0 b=1 c=1 -> specificity =   11*/
a:visited {
    color: #2F5065;
    background-color: transparent;
    text-decoration: none;
}