/* a=0 b=0 c=1 -> specificity =   1*/
figure {
    margin: 0.8em;
    float: left;
    
}
/* a=0 b=0 c=2 -> specificity =   2*/
figure img {
    vertical-align: top;
}
/* a=0 b=0 c=2 -> specificity =   2*/
figure figcaption {
    text-align: left;
    width: 60%;
}